@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

#map { 
	position: absolute;
	left: 30%;
	width: 40%; 
	height: 50%;
	top:100%;
}

header{
	position: fixed;
	top: 0;
	left: 11.84%;
	width: 90%;
	height: 10%;
	background-color: rgb(5, 68, 104);
	z-index: -1;
}

header h1{
	display: flex;
	justify-content: flex-start;
	font-family: 'Fredoka', sans-serif;
	margin-top: 1%;
	margin-left: 2%;
	font-size: 50px;
	color: white;
}

h2{
	font-family: 'Fredoka', sans-serif;
	color: rgb(0, 0, 0);
	font-size: 30px;
	text-align: center;
}

h3{
	font-family: 'Fredoka', sans-serif;
	color: rgb(0, 0, 0);
	font-size: 25px;
}



.containerSelect{ 
	position: absolute;
	width: 10%;
	height: 5%;
	margin-top: 28%;
	margin-left: 2%;
}

.containerLetrero{
	display: flex;
	justify-content: space-around;
	width:25%;
	height: 5%;
	margin-top: 15%;
	margin-left: 25%;
}

.iconContainer{
	width: 5%;
	height: 5%;
	width:25%;
	height: 5%;
	margin-top: -7%;
	margin-left: 70%;
}

.containerInfoMapa{
	width: 75%;
	height: 100px;
	margin-top: 10%;
	margin-left: 25%;
}


